.pageWrapper {
  padding: 60px 80px;
 
}

.headingSection {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.topControls {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.layoutWrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 40px;
}

.layoutWrapper.noSidebar {
  grid-template-columns: 1fr !important;
}


.productsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

@media (max-width: 768px) {
  .productsGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .headingSection h1 {
    font-size: 20px;      
  }
}

@media (max-width: 768px) {
.productsGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    gap: 16px;
  }
  .pageWrapper {
    padding: 20px; 
 
  }

  .topControls {
    justify-content: space-between;
    padding: 12px 0;
  }

   .layoutWrapper {
    grid-template-columns: 1fr !important;
  }
  
  .sidebar {
    display: none !important;
  }

  .showFilter {
    display: block;
  }
}

.fullWidthGrid {
  grid-column: 1 / -1; 
}

